CompileFlags:
  Add:
    - -std=gnu11
    - -m32
    - -fno-builtin
    - -nostdinc
    - -nostdlib
    - -x
    - c
    - -I./src/

Completion:
  HeaderInsertion: Never

Index:
  StandardLibrary: false
